<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/scripts.js"></script>
    <title>ebay</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/javascripts/controllers.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <style>
        .navbar {min-height: 20px;}
        .navbar-brand {padding:  5px; height: 20px; line-height: 20px;}
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 0px;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 180px;
            min-height: 180px;
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 5px 5px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
        .columnx {
            margin-bottom: 10px;
        }
        .groupName {
            color: #2B91AF;
        }

    </style>
    <meta http-equiv="Cache-Control"
          content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <script src="angularjs/bids.js"></script>
</head>

<body ng-app="bid" ng-controller="bidController">

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="active"></li>
                    <li class="dropdown"><a  data-toggle="dropdown" href="#">Hi <b><%= firstname %></b>! <span class="caret"></span></a>
                        <ul class="dropdown-content">
                            <a class="text-center" href="#"><small>&nbsp&nbsp&nbsp&nbsp<%= firstname %></small>&nbsp<small><%= lastname %></small></a>
                            <a class="text-center" href="#"><small><b><%=username%></b></small></a>

                            <a class="text-center" href="logout"><font color ="blue"><small> Sign out</small></font></a>
                        </ul>
                    </li>

                    <li><a href="#">| <small>Daily Deals</small>  |</a></li>
                    <li><a href="#">| <small>Gift Cards</small> |</a></li>
                    <li><a href="#">| <small>Sell</small> |</a></li>
                    <li><a href="#">| <small>Help & Contact</small> |</a></li>
                    <li>&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp


                    </li>

                    <li class="dropdown"><a  data-toggle="dropdown" href="#"><small>My ebay</small></span></a>
                        <ul class="dropdown-content">


                            <a class="text-left" href=""><small> Summary</small></a>
                            <a class="text-left" href="#"><small> Bids/Offers</small></a>
                            <a class="text-left" href="#"><small> Watch list</small></a>
                            <a class="text-left" href="#"><small> Wish list</small></a>
                            <a class="text-left" href="#"><small> All lists</small></a>
                            <a class="text-left" href="#"><small> Purchase history</small></a>
                            <a class="text-left" href="#"><small> Selling</small></a>
                            <a class="text-left" href="#"><small> My Collections</small></a>
                            <a class="text-left" href="#"><small> Followed searches</small></a>
                            <a class="text-left" href="#"><small> Messages</small></a>
                        </ul>
                    </li>
                    <li class="dropdown"><a  data-toggle="dropdown" href="#"><img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/rounded-glossy-black-icons-culture/033335-rounded-glossy-black-icon-culture-bell5-solid-sc48.png" alt="Cinque Terre" width="25" height="25" ></a>
                        <ul class="dropdown-content">
                            <p class="text-center" > &nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                You're all caught up!</p>
                        </ul>
                    </li>
                    <li><a href="">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="https://image.freepik.com/free-icon/shopping-cart-of-checkered-design_318-50865.png" alt="Cinque Terre" width="25" height="25" ></a></li>
                </ul>

            </div>

        </nav>
    </div>
</div> <br><br>
<!---->
<div class="container-fluid">

    <div class ="row">
        <div class="col-md-1">
            <img src="http://www.localleaguefixtures.com/images/ebay_logo_small.jpg" width="120" height="60" align="left">
        </div>

        <div class="col-md-1"><br>

            <li class="dropdown"><a data-toggle="dropdown" href="#"><b>Shop by Category</b><span class="caret"></span></a>
                <ul class="dropdown-content">

                    <a class="text-left" href=""><small> Summary</small></a>
                    <a class="text-left" href="#"><small> Bids/Offers</small></a>
                    <a class="text-left" href="#"><small> Watch list</small></a>
                    <a class="text-left" href="#"><small> Wish list</small></a>
                    <a class="text-left" href="#"><small> All lists</small></a>
                    <a class="text-left" href="#"><small> Purchase history</small></a>
                    <a class="text-left" href="#"><small> Selling</small></a>
                    <a class="text-left" href="#"><small> My Collections</small></a>
                    <a class="text-left" href="#"><small> Followed searches</small></a>
                    <a class="text-left" href="#"><small> Messages</small></a>
                </ul>
            </li>
        </div>

        <div class="col-md-4"><br>
            <input type="text" class="form-control" name="s" placeholder="Search" value="" style="width:130px,height:40px;" >
        </div>
        <div class="col-md-3" ><br>
            <select class="form-control" ng-model="option" ng-options="x.model for x in options" style="width:300px"></select>
        </div>
        <div class="col-md-1"><br>
            <button type="button" class="btn btn-primary" style="width:120px">Search</button></div>
        <div class="col-md-2" ><br>
            <font><small>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAdvanced</small></font>
        </div>
    </div> <br>


</div>

<div class="column" ng-repeat="result in newResult">

    <div class ="container-fluid">
        <div class ="row">
            <div class="col-md-5">
                <p> <font color="black" size="4"> SAVE </font> <font color="red" size="4">$50 </font> <font color="black" size="4">WHEN YOU BUY 5 OR MORE</font></p>

                <div class="col-md-12" style="border-style:ridge;"
                <a href="">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="{{result.pic}}" alt="Cinque Terre" width="450" height="400" ></a>
            </div></div>
        <div class="col-md-6"><br>
            <p><Strong><b> {{result.ITEM_NAME}} {{result.category}} {{result.ITEM_DESC}}</b></Strong></p>
            <p>SHIPS FAST! Brand new and sealed! See our feedback!</p>
            <p><font color="red" size="2">54 view per hour</font>            <font color="blue" size="2">16 product rating</font></p>
            <p>_____________________________________________________________________________________________________</p>
            <p> Item Condition:<Strong> <b>{{result.COND}}</b></Strong></p>
            <div class ="row">
                <div class="col-md-2">
                    <p>Time left: </p>
                </div>
                <div>
                  <p>  <iframe src="http://free.timeanddate.com/countdown/i5f2wpoa/n283/cf12/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/szw320/szh135/iso2016-10-20T00:00:00" allowTransparency="true" frameborder="0" width="107" height="32"></iframe></p>
                </div>
            </div>

        </div>
        <div class ="row">
            <div class="col-md-4">
                <div class ="row">


                </div>

                <div class="col-md-12 well">
                    <div class="row">
                        <div class ="col-md-6">
                            <p> <font color="grey" size="2">Starting Bid:$ {{result.MIN_PRICE }} </font></p>
                        </div>
                        <div class ="col-md-6">
                            <!--    <p> <font color="blue" size="2">[ {{ROW_COUNT }} bids ]</font></p>  -->
                            <!--     <p> <a ng-click="showBidHistory(result.ITEM_CODE);" <font color="blue" size="2">[ {{ROW_COUNT }} bids ]</font></a>  </p>  -->
                            <p> <a ng-click="showBidHistory(result.ITEM_CODE);" <Strong> </Strong>[ {{ROW_COUNT }} bids ]</a>  </p>
                        </div>
                    </div>

                    <div class ="row">
                        <div class="col-md-3 col-md-offset-1">
                            <!--<p>Bid Price<input type= "text" class="form-control" name="bidP" id="bidP" ng-model="bidP"  pattern="[0-9]" style="width:90px" /></p> -->
                            <p>Bid Price<input type= "text" class="form-control" name="Nbid" id="Nbid" ng-model ="Nbid"   style="width:90px" ></p>
                        </div>


                        <div class="col-md-5 col-md-offset-1"> <br>
                            <p><button type="button" class="btn btn-primary" ng-click="placeBid(result.ITEM_CODE ,Nbid, result.ITEM_NAME, result.ITEM_DESC);" style="width:120px"> Place Bid</button></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">

                            <p> <font color="black" size="1">Enter US $ {{BID_PRICE }} or more </font></p>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <p> <font color="blue" size="2">Add to watch list</font></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-5">
                            <p> <font color="blue" size="2">Add to collection</font></p>

                        </div>
                    </div>



                </div>

                <!-- -->
                <div class="col-md-12">
                    <div class="container">
                        <font size="2"><font color="#737373">Shipping: </font>$3.50 ePacket delivery from India | <a><font size="1" color="#737373"><u>See details</u></font></a></font>
                    </div>

                    <div class="row">
                        <font size="1" color="#737373">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp&nbspSee details about international shipping here.</font>
                    </div>

                    <div class="row">
                        <font size="1" color="#737373">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp&nbspItem location: Delhi, India</font>
                    </div>

                    <div class="row">
                        <font size="1" color="#737373">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp&nbspShips to: Americas, Europe, Asia, Australia <a><u><font size="1" color="#737373">See exclusions</font></u></a></font>
                    </div>

                    <div class="container">
                        <font size="2"><font color="#737373">Delivery: </font>&nbsp&nbspEstimated between <b><font color="orange">Thu. Nov. 21 and Mon. Nov. 24</font></b></font>
                    </div>

                    <div class="row">
                        <font size="1" color="#737373">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp&nbsp&nbspPlease note the delivery estimate is <font color="orange"><b>greater than 7 business days.</b></font></font>
                    </div>

                    <div class="container">
                        <font size="2"><font color="#737373">Payments: </font><img src="http://www.flybe.com/corporate/media/news/1406/paypal.png" style="width:70px;height:30px;"/><img src="http://www.libertyint.com/LibertyInternationalFinal/paymentoptions.center.png" style="width:150px;height:30px;"/>
                    </div>

                    <div class="row">
                        <font size="1">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Credit cards processed by PayPal</font>
                    </div>

                    <div class="row">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://marketingroadmap.com/img/sales/paypal-credit-logo.png" style="width:120px;height:20px;"/>
                    </div>

                    <div class="row">
                        <font size="1">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Get more time to pay. <a><font size="1" color="#737373"><u>Apply now</u></font></a> | <a><font size="1" color="#737373"><u>See Terms</u></font></a>
                    </div>

                    <div class="row">
                        <font size="1">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a><font size="1" color="#737373"><u>See Details</u></font></a>
                    </div>

                    <div class="col-md-12">
                        <font size="2"><font color="#737373">Returns: &nbsp&nbsp</font>&nbsp&nbsp&nbsp30 days money back or item exchange, buyer &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsppays return shipping,
                            15% restocking fee may &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspapply | </font>
                    </div>

                    <div class="row">
                        <font size="1">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a><font size="1" color="#737373"><u>See Details</u></font></a>
                    </div>

                    <div class="container">
                        <font size="2" color="#737373">Guarantee: </font><img src="http://pics.ebaystatic.com/aw/pics/buy/mbg/landing/MBG-logo.png" style="width:120px;height:35px;"/> &emsp;&emsp;<b>|</b>&emsp;&emsp;<a><font size="1" color="#737373"><u>See Details</u></font></a>
                    </div>

                    <div class="row">
                        <font size="1">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Get the item you ordered or get your money back.</font>
                    </div>

                    <div class="row">
                        <font size="1">	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Covers your purchase price and original shipping.</font>
                    </div>
                </div>
                <br>
                <br>


                <!-- -->


            </div>
            <div class="col-md-2" style="border-style:ridge;">
                <div class="row">
                    <div class="col-md-10">
                        <p> <font color="black" size="3"><b>Seller information</b></font></p>
                        <p> <font color="blue" size="1"><b>{{result.SELLER_USERNAME}} (45137 *)</b></font></p>
                        <p> <font color="black" size="1">99.87% Positive Feedback</font></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p> <font color="black" size="1"><b>...................................................................</b></font></p>
                        <p> <font color="green" size="2"><b>Follow this seller</b></font></p>
                        <p> <font color="black" size="2">Visit store: <font color="blue" size="2">E-Tech Galaxy</font></font></p>
                        <p> <font color="blue" size="2"><b>See other items</b></font></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<!-- -->




<!-- -->





</body>
</html>
